<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Local Hunar Videos </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="/admin/local-hunar-details/<%= id %>">Local Hunar Details</a></li>
                        <li class="breadcrumb-item active">Video List</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class=" d-flex justify-content-between align-items-center">
                            <form action="/admin/local-hunar/<%= id %>/videos" method="get">
                                <div class=" d-flex align-items-center">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-lg" name="search"
                                            value="<%= searchVal %>" placeholder="Search here !">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-lg btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div> &nbsp;

                                </div>
                            </form>


                            <div>
                                <a href="/admin/local-hunar/<%= id %>/add-video" class="btn btn-sm btn-primary">Add a
                                    Video </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <% if(message !=0) { %>
                            <div class="p-3">
                                <div class="alert mb-0"
                                    style="background-color: rgb(188 252 188); border: none; color: rgb(2, 120, 28);"
                                    role="alert">
                                    <%= message %>
                                </div>
                            </div>

                            <% } else if(error !=0){ %>
                                <div class="p-3">
                                    <div class="alert mb-0"
                                        style="background-color: rgb(237 183 183); border: none; color: rgb(120 2 2);"
                                        role="alert">
                                        <%= error %>
                                    </div>
                                </div>

                                <% } %>
                    </div>

                    <% if(data.count !=0) { %>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S no.</th>
                                        <th>Url</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Views</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.rows.forEach((data, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 + ((pageNo - 1) * limit) %>
                                            </td>
                                            <td>
                                               <a href="/assets/videos/<%= data.url %>" target="_blank"><%= data.url %></a> 
                                            </td>
                                            <td>
                                                <%= data.title %>
                                            </td>
                                            <td>
                                                <%= data.description ? data.description : 'NiL' %>
                                            </td>
                                            <td><% if(data.approved == 'y'){ %>
                                                    Approved
                                                 <% } else if (data.approved == 'n'){ %>
                                                     Rejected    
                                                 <% } else if (data.approved == 'd'){ %>
                                                     Deleted
                                                 <% } else { %>
                                                     Pending
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= data.views ? data.views : 'Nil' %>
                                            </td>
                                            <td>
                                                <a href="/admin/local-hunar/edit-video/<%=data.id%>"
                                                class="btn btn-sm btn-outline-secondary">Edit Video
                                            </a> &nbsp;
                                            <% if(data.approved == 'd'){} else { %>
                                                <a href="/admin/local-hunar/delete-video/<%=data.id%>"
                                                class="btn btn-sm btn-outline-danger">Delete Video
                                            </a> &nbsp;
                                                <% }%>
                                            </td>
                                        </tr>

                                        <%} ) %>
                                </tbody>
                            </table>
                        </div>
                        <% } %>


                            <div class="paginationWrapper" style="padding-right: 1rem;">
                                <% if (extra.pages> 0) { %>
                                    <ul class="pagination d-flex justify-content-end">
                                        <% var i=(Number(extra.pageNo)> 5 ? Number(extra.pageNo) - 4 : 1) %>
                                            <% if (i !==1) { %>
                                                <li class="page-item disabled">
                                                    <a class="page-link">...</a>
                                                </li>
                                                <% } %>
                                                    <% for (; i <=(Number(extra.pageNo) + 4) && i <=extra.pages; i++) {
                                                        %>
                                                        <% if (i==extra.pageNo) { %>
                                                            <li class="page-item active">
                                                                <a class="page-link">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } else { %>
                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="/admin/local-hunar/<%= id %>/videos/?page=<%= i %>&search=<%= searchVal %>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                                    <% if (i==Number(extra.pageNo) + 4 && i <
                                                                        extra.pages) { %>
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link">...</a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% } %>
                                    </ul>
                                    <% } %>
                            </div>
                </div>
        </div>
    </section>
</div>
