<%- include('../header') -%>

        <tr>
            <td>
                <table style='border: 0; border-spacing: 0; border-collapse: separate; -mso-table-lspace: 0pt; -mso-table-rspace: 0pt; width: 100%; padding: 0 20px;'>
                    <tr>
                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>
                            <h3 style='font-family: sans-serif; font-size: 14px; font-weight: bold; Margin-bottom: 8px; margin-top: 20px; color: #5A443D;'>Hi <%= name %>,</h3>
                            <p style='font-family: sans-serif; font-size: 14px; Margin-top: 0; Margin-bottom: 20px; color: #5A443D; font-weight: 400; line-height: 1.5em;'>
                                | Thank you for signing up with <%= appName %>! You are just one step away from accessing all the amazing features! Before you can log in, we need to verify your email address.
                            </p>
                            <h3 style='font-family: sans-serif; font-size: 14px; font-weight: bold; Margin-bottom: 8px; margin-top: 20px; color: #5A443D;'>
                                <a href="<%= link %>" style='font-family: sans-serif; font-size: 14px; Margin-top: 0; Margin-bottom: 20px; color: #5A443D; font-weight: bold; line-height: 1.5em;'>
                                    Click here | and your account will be verified.
                                </a>
                            </h3>
                            <h3 style='font-family: sans-serif; font-size: 14px; font-weight: bold; Margin-bottom: 0; margin-top: 20px; color: #5A443D;'>Thank you,</h3>
                            <p style='font-family: sans-serif; font-size: 14px; Margin-top: 0; Margin-bottom: 20px; color: #5A443D; font-weight: 400; line-height: 1.5em;'>Team <%= appName %></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
<%- include('../footer') -%>
