<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Testimonial Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="/admin/get-testimonials">Testimonial List</a></li>
                        <li class="breadcrumb-item active">Testimonial Detail</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class=" d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Testimonial Detail</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="container px-4 row">
                    <div class="col-6">
                        <div class="row mb-2" style="font-size: 18px;">
                            <div class="col-md-6 text-muted"> Name:</div>
                            <div class="col-md-6">
                                <%= alldata.name ? alldata.name : 'Nil' %>
                            </div>
                        </div>
                        <div class="row mb-2" style="font-size: 18px;">
                            <div class="col-md-6 text-muted">Message:</div>
                            <div class="col-md-6">
                                <%= alldata.message ? alldata.message : 'Nil' %>
                            </div>
                        </div>
                        <div class="row mb-2" style="font-size: 18px;">
                            <div class="col-md-6 text-muted">Image:</div>
                            <div class="col-md-6">
                                <a href="<%= alldata.image ? alldata.image : 'Nil' %>">
                                    <%= alldata.image ? alldata.image : 'Nil' %>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row mb-2" style="font-size: 18px;">
                            <div class="col-md-6 text-muted">State :</div>
                            <div class="col-md-6">
                                <%= alldata.state.name ? alldata.state.name : 'Nil' %>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2" style="font-size: 18px;">
                            <div class="col-md-6 text-muted">City :</div>
                            <div class="col-md-6">
                                <%= alldata.city.name ? alldata.city.name : 'Nil' %>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-header d-flex justify-content-end align-items-center" ">
         
       
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>