<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create Job Post</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/get-job-post-govt">Job Post list</a></li>
                        <li class="breadcrumb-item active">Government Job Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Government Job Post</h3>
                </div>

                <div>
                    <% if(message != '') { %>
                        <div class="p-3">
                            <div class="alert  mb-0" style="background-color: rgb(141, 228, 141); border: none; color: rgb(2, 120, 28);" role="alert">
                                <%= message %>
                            </div>
                        </div>

                        <% } else if(error != ''){ %>
                            <div class="p-3">
                                <div class="alert alert-dismissible mb-0" style="background-color: rgb(237 183 183); border: none; color: rgb(120 2 2);" role="alert">
                                    <%= error %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                </div>
                            </div>

                            <% } %>

                </div>

                <form method="post" action="/admin/company/add-job-post-govt" enctype="multipart/form-data">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="Job name" value="<%= formValue && formValue.name ? formValue.name :'' %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Role Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="job_role_type_id">
                                        <option value="">Select Job Role Type</option>
                                        <% jobRoleType.forEach((roleType) => { %>
                                            <option value="<%= roleType.id %>"><%= roleType.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job title</label>
                                    <input type="text" class="form-control" name="job_title" placeholder="Job title" value="<%= formValue && formValue.job_title ? formValue.job_title :'' %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Employment Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="employment_type">
                                        <option value="">Select Employment Type</option>
                                        <option value="full_time">Full Time</option>
                                        <option value="part_time">Part Time</option>
                                        <option value="intern">Internship</option>
                                        <option value="both">Both</option>   
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Industry</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="industry-dropdown" name="industry_id">
                                        <option value="">Select Industry</option>
                                        <% industry.forEach((industry) => { %>
                                            <option value="<%= industry.id %>"><%= industry.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Sector</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="sector-dropdown" name="sector_id">
                                        <option value="">Select Sector</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Deadline</label>
                                    <input type="date" class="form-control" name="deadline" value="<%= formValue && formValue.deadline ? formValue.deadline :'' %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization</label>
                                    <input type="text" class="form-control" name="organization" value="<%= formValue && formValue.organization ? formValue.organization :'' %>" placeholder="organization">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Advertise link</label>
                                    <input type="text" class="form-control" name="advertise_link" value="<%= formValue && formValue.advertise_link ? formValue.advertise_link :'' %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Official Website</label>
                                    <input type="text" class="form-control" name="official_website" value="<%= formValue && formValue.official_website ? formValue.official_website :'' %>" placeholder="official_website">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Photo</label>
                                    <input type="file" class="form-control" name="image">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contract Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="contract_type">
                                        <option value="">Select Contract Type</option>
                                        <option value="contracted">contracted</option>
                                        <option value="intern">Internship</option>
                                        <option value="fresher">Fresher</option>
                                        <option value="other">Other</option>   
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contract Duration</label>
                                    <input type="text" class="form-control" name="contract_duration" value="<%= formValue && formValue.contract_duration ? formValue.contract_duration :'' %>" placeholder="Contact Duration">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Other Contract Type</label>
                                    <input type="text" class="form-control" name="contract_other_type" value="<%= formValue && formValue.contract_other_type ? formValue.contract_other_type :'' %>" placeholder="Other Contract Type">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Schedule</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="job_schedule" id="jobSchedule">
                                        <option value="">Select Job Schedule</option>
                                        <option value="morning_shift">Morning shift</option>
                                        <option value="night_shift">Night Shift</option>
                                        <option value="flexible">Flexible Shift</option>
                                        <option value="monday_to_friday">Monday to Friday</option>   
                                        <option value="weekend">Weekend</option>   
                                        <option value="other">Other</option>   
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="jobTime">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Time From</label>
                                    <input type="time" class="form-control" name="job_time_from" value="<%= formValue && formValue.job_time_from ? formValue.job_time_from :'' %>" placeholder="Job Time From">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Time To</label>
                                    <input type="time" class="form-control" name="job_time_to" value="<%= formValue && formValue.job_time_to ? formValue.job_time_to :'' %>" placeholder="Job Time To">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" name="pin_code" value="<%= formValue && formValue.pin_code ? formValue.pin_code :'' %>" placeholder="Pin Code">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="state_id">
                                        <option value="">Select State</option>
                                        <% statedata.forEach((state) => { %>
                                            <option value="<%= state.id %>"><%= state.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="city-dropdown" name="city_id">
                                        <option value="">Select City</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" name="pin_code" value="<%= formValue && formValue.pin_code ? formValue.pin_code :'' %>" placeholder="Pin Code">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Number of Position</label>
                                    <input type="text" class="form-control" name="number_of_position" value="<%= formValue && formValue.number_of_position ? formValue.number_of_position :'' %>" placeholder="Number of Position">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Work From Home</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="work_from_home">
                                        <option value="">Select Work From Home</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                        <option value="TEMP">Temporary</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Description</label>
                                    <input type="text" class="form-control" name="job_description" value="<%= formValue && formValue.job_description ? formValue.job_description :'' %>" placeholder="Job Description">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Salary Amount Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="salary_type">
                                        <option value="">Select Salary Amount Type</option>
                                        <option value="amount_in_range">Amount in Range</option>
                                        <option value="fixed_amount">Fixed Amount</option>
                                        <option value="upto_amount">Upto Amount</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Salary Paid Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="paid_type">
                                        <option value="">Select Salary Paid Type</option>
                                        <option value="PA">Annual</option>
                                        <option value="PH">Hour</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Salary</label>
                                    <input type="text" class="form-control" name="salary" value="<%= formValue && formValue.salary ? formValue.salary :'' %>" placeholder="Salary">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Experience Required</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="experience_required">
                                        <option value="">Select Experience Required</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Salary from</label>
                                    <input type="text" class="form-control" name="salary_from" value="<%= formValue && formValue.salary_from ? formValue.salary_from :'' %>" placeholder="Salary from">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Salary to</label>
                                    <input type="text" class="form-control" name="salary_to" value="<%= formValue && formValue.salary_to ? formValue.salary_to :'' %>" placeholder="Salary to">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Exp From</label>
                                            <input type="text" class="form-control" name="exp_from" value="<%= formValue && formValue.exp_from ? formValue.exp_from :'' %>" placeholder="Exp From">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Exp From Type</label>
                                            <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="exp_from_type">
                                                <option value="">Select Exp From Type</option>
                                                <option value="year">Year</option>
                                                <option value="M">Month</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Exp to</label>
                                            <input type="text" class="form-control" name="exp_to" value="<%= formValue && formValue.exp_to ? formValue.exp_to :'' %>" placeholder="Exp to">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Exp to Type</label>
                                            <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="exp_to_type">
                                                <option value="">Select Exp to Type</option>
                                                <option value="year">Year</option>
                                                <option value="M">Month</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Education Required</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="education_required">
                                        <option value="">Select Education Required</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Education</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="education_id">
                                        <option value="">Select Education</option>
                                        <option value="10">10</option>
                                        <option value="N">No</option>
                                        <option value="Option">Optional</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job status</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="job_status">
                                        <option value="">Select Job status</option>
                                        <option value="OPEN">Open</option>
                                        <option value="CLOSE">Close</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="<%= formValue && formValue.email ? formValue.email :'' %>" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Submit Resume</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="submit_resume">
                                        <option value="">Select Submit Resume</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                        <option value="Option">Optional</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>status</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="status">
                                        <option value="1" selected>Active</option>
                                        <option value="0">Inactive</option>
                                        <option value="2">Delete</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>