<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Company Update</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/admin/company">Company list</a>
                        </li>
                        <li class="breadcrumb-item active">Company Update</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update Company</h3>
                </div>

                <div>
                    <% if(message != '') { %>
                        <div class="p-3">
                            <div class="alert mb-0" style="
                background-color: rgb(141, 228, 141);
                border: none;
                color: rgb(2, 120, 28);
              " role="alert">
                                <%= message %>
                            </div>
                        </div>

                        <% } else if(error != ''){ %>
                            <div class="p-3">
                                <div class="alert alert-dismissible mb-0" style="
                background-color: rgb(237 183 183);
                border: none;
                color: rgb(120 2 2);
              " role="alert">
                                    <%= error %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                                </div>
                            </div>

                            <% } %>
                </div>

                <form method="post" action="/admin/edit-company/<%= id %>" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company name</label>
                                    <input type="text" class="form-control" name="name" value="<%= alldata.name %>" placeholder="Company name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company email</label>
                                    <input type="email" class="form-control" name="email" value="<%= alldata.email %>" placeholder="Company email" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Mobile no.</label>
                                    <input type="number" class="form-control mobileNumberField" name="mobile" value="<%= alldata.mobile %>" placeholder="Company Mobile no." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company website link</label>
                                    <input type="text" class="form-control" name="company_link" value="<%= alldata.company_link %>" placeholder="Company Website Link" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Description</label>
                                    <input type="text" class="form-control" name="company_description" value="<%= alldata.company_description %>" placeholder="Company Description" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Address 1</label>
                                    <input type="text" class="form-control" name="address_line1" value="<%= alldata.address_line1 %>" placeholder="Company Address 1" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Address 2</label>
                                    <input type="text" class="form-control" name="address_line2" value="<%= alldata.address_line2 %>" placeholder="Company Address 2" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pin code</label>
                                    <input type="text" class="form-control pincodeNumberField" id="pincode-text-field" name="pin_code" value="<%= alldata.pin_code %>" placeholder="Pin code" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control select2bs4" style="width: 100%" id="state-dropdown" name="state_id">
                    <option value=" ">
                      Select State
                    </option>
                    <% statedata.forEach((state) => { %>
                    <option value="<%= state.id %>" <%=   alldata.state_id == state.id ? 'selected' : '' %>><%= state.name %></option>
                    <% }) %>
                  </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control select2bs4" style="width: 100%" id="city-dropdown" name="city_id">
                    <option value="">
                      Select City
                    </option>
                    <% citydata.forEach((city) => { %>
                        <option value="<%= city.id %>" <%=   alldata.city_id == city.id ? 'selected' : '' %>><%= city.name %></option>
                        <% }) %>
                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Industry</label>
                                    <select class="form-control select2bs4" style="width: 100%" name="industry_id">
                    <option value="">Select Industry</option>
                    <% industrydata.forEach((industry) => { %>
                    <option value="<%= industry.id %>" <%= alldata && alldata.industry_id == industry.id ? 'selected' : '' %>><%= industry.name %></option>
                    <% }) %>
                  </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Logo Link</label> <br />
                                    <a href="/assets/images/user/<%= alldata.image %>">
                                        <%= alldata.image %>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Upload Company Logo</label> <br />
                                    <input type="file" value="<%= alldata.image %>" name="image" />
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>status</label>
                                    <select class="form-control select2bs4" style="width: 100%" name="status">
                    <option value="<%= alldata.status %>" selected>
                      <% if(alldata.status === 0) { %> Inactive <% } else
                      if(alldata.status === 1) { %> Active <% } %>
                    </option>
                    <option value="1">Active</option>
                    <option value="0">InActive</option>
                  </select>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <hr />
                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" class="form-control" name="your_full_name" value="<%= alldata.your_full_name %>" placeholder="Full Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Designation</label>
                                    <input type="text" class="form-control" name="your_designation" value="<%= alldata.your_designation %>" placeholder="Your Designation" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>