<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User Applied Table </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/company">Company</a></li>
                        <li class="breadcrumb-item"><a href="/admin/company/applied-job/<%= reqParam %>">User Applied</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class=" row">
                                <div class="col-10">
                                    <form action="/admin/company/applied-job/<%= reqParam %>" method="get">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-lg" name="search" value="<%= searchVal %>" placeholder="Search here !">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-lg btn-default">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">

                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-2">
                                    <!-- <a href="/admin/create-industry" style="margin-top: 6px;" class="btn btn-sm btn-primary">Add Industry</a> -->
                                </div>
                            </div>
                        </div>

                        <div>
                            <% if(message != 0) { %>
                                <div class="p-3">
                                    <div class="alert mb-0" style="background-color: rgb(188 252 188); border: none; color: rgb(2, 120, 28);" role="alert">
                                        <%= message %>
                                    </div>
                                </div>

                                <% } else if(error != 0){ %>
                                    <div class="p-3">
                                        <div class="alert mb-0" style="background-color: rgb(237 183 183); border: none; color: rgb(120 2 2);" role="alert">
                                            <%= error %>
                                        </div>
                                    </div>

                                    <% } %>
                        </div>


                        <% if(data.count != 0) { %>

                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>S no.</th>
                                            <th>User Name</th>
                                            <th>Application status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.rows.forEach((data, index)=> { %>
                                            <%= console.log('106', data.JobPost.job_status) %>
                                                <tr>
                                                    <td>
                                                        <%= index + 1 + ((pageNo - 1) * limit) %>
                                                    </td>
                                                    <td>
                                                        <%= data.JobPost.name %>
                                                    </td>
                                                    <td>
                                                        <%= data.JobPost.job_status %>
                                                    </td>
                                                    <td>
                                                        <a href="/admin/candidate/show-job-details/<%= data.JobPost.id %>" class="btn btn-sm btn-outline-primary">View Job Details</a> &nbsp;
                                                    </td>
                                                </tr>
                                                <%} ) %>
                                    </tbody>
                                </table>
                            </div>
                            <% } %>


                                <div class="paginationWrapper" style="padding-right: 1rem;">
                                    <% if (extra.pages> 0) { %>
                                        <ul class="pagination d-flex justify-content-end">
                                            <% var i=(Number(extra.pageNo) > 5 ? Number(extra.pageNo) - 4 : 1) %>
                                                <% if (i !==1) { %>
                                                    <li class="page-item disabled">
                                                        <a class="page-link">...</a></li>
                                                    <% } %>
                                                        <% for (; i <=(Number(extra.pageNo) + 4) && i <=extra.pages; i++) { %>
                                                            <% if (i==extra.pageNo) { %>
                                                                <li class="page-item active">
                                                                    <a class="page-link">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="/admin/applied-job/?page=<%= i %>&search=<%= searchVal %>">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (i==Number(extra.pageNo) + 4 && i < extra.pages) { %>
                                                                            <li class="page-item disabled">
                                                                                <a class="page-link">...</a></li>
                                                                            <% } %>
                                                                                <% } %>
                                        </ul>
                                        <% } %>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>