<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Candidate Subsrciption Table</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/admin/candidate">Candidate List</a>
                        </li>
                        <li class="breadcrumb-item active">Candidate Subsrciption list</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-10">
                                    <form action="/admin/company/view-company-subcriptions/<%= id %>" method="get">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-lg" name="search" value="<%= searchVal %>" placeholder="Search here !" />
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <select class="form-control form-control-lg" style="font-size: 17px; color: grey" name="status">
                            <option value="" selected>
                              <% if(statusfilter === '') { %> select status <% }
                              else if(Number(statusfilter) === 0) { %> Inactive
                              <% } else if(Number(statusfilter) === 1) { %>
                              Active <% } %>
                            </option>
                            <option value="0">InActive</option>
                            <option value="1">Active</option>
                          </select>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-2"></div>
                            </div>
                        </div>

                        <div>
                            <% if(message != 0) { %>
                                <div class="p-3">
                                    <div class="alert mb-0" style="
                    background-color: rgb(188 252 188);
                    border: none;
                    color: rgb(2, 120, 28);
                  " role="alert">
                                        <%= message %>
                                    </div>
                                </div>

                                <% } else if(error != 0){ %>
                                    <div class="p-3">
                                        <div class="alert mb-0" style="
                    background-color: rgb(237 183 183);
                    border: none;
                    color: rgb(120 2 2);
                  " role="alert">
                                            <%= error %>
                                        </div>
                                    </div>

                                    <% } %>
                        </div>

                        <% if(data.count != 0) { %>

                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>S no.</th>
                                            <th>Plan Details</th>
                                            <th>Subscription Plan</th>
                                            <th>Amount</th>
                                            <th>Subscribed Date</th>
                                            <th>Expiry Date</th>
                                            <th>Current Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.rows[0].SubscribedUsers.forEach((data, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= index + 1 + ((pageNo - 1) * limit) %>
                                                </td>
                                                <td>
                                                    <%= data.SubscriptionPlan.title %>
                                                </td>
                                                <td>
                                                    <%= data.SubscriptionPlan.description %>
                                                </td>
                                                <td>
                                                    <%= data.SubscriptionPlan.discounted_amount %>
                                                </td>
                                                <td>
                                                    <%= moment(data.createdAt).format('DD-MM-YYYY') %>
                                                </td>
                                                <td>
                                                    <%= moment(data.expiry_date).format('DD-MM-YYYY') %>
                                                </td>
                                                <td>
                                                    <% if(data.status === 0) { %> Inactive
                                                        <% } else
                      if(data.status === 1) { %> Active
                                                            <% } %>
                                                </td>
                                            </tr>
                                            <%} ) %>
                                    </tbody>
                                </table>
                            </div>
                            <% } %>
                                <div class="col-4 m-2">
                                    <div class="row" style="width: 630px; justify-content: space-between">
                                        <a href="/admin/subscription-details-download/<%= id %>?type=excel&<%=str%>">
                                            <div class="btn btn-sm bg-info">
                                                Download Candidate Subscription Details as Excel
                                            </div>
                                        </a>
                                        <a href="/admin/subscription-details-download/<%= id %>">
                                            <div class="btn btn-sm bg-info">
                                                Download Candidate Subscription Details as PDF
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="paginationWrapper" style="padding-right: 1rem">
                                    <% if (extra.pages> 0) { %>
                                        <ul class="pagination d-flex justify-content-end">
                                            <% var i=(Number(extra.pageNo) > 5 ? Number(extra.pageNo) - 4 :
                1) %>
                                                <% if (i !==1) { %>
                                                    <li class="page-item disabled">
                                                        <a class="page-link">...</a>
                                                    </li>
                                                    <% } %>
                                                        <% for (; i <=(Number(extra.pageNo) + 4) && i
                <=extra.pages; i++) { %>
                                                            <% if (i==extra.pageNo) { %>
                                                                <li class="page-item active">
                                                                    <a class="page-link">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="/admin/candidate/view-candidate-subcriptions/?page=<%= i %>&search=<%= searchVal %>">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (i==Number(extra.pageNo) + 4 && i < extra.pages) {
                %>
                                                                            <li class="page-item disabled">
                                                                                <a class="page-link">...</a>
                                                                            </li>
                                                                            <% } %>
                                                                                <% } %>
                                        </ul>
                                        <% } %>
                                </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>