<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Active Accounts Table </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="/admin/account/active">Active Accounts list</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class=" row">
                                <div class="col-10">
                                    <form action="/admin/account/active/" method="get">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-lg" name="search" value="<%= searchVal %>" placeholder="Search here !">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-lg btn-default">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <select class="form-control form-control-lg" style="font-size: 17px; color: grey;" name="user_role_type">
                                                        <option value="" selected>
                                                            <% if(rolefilter === 'HSP') { %>
                                                                Home Service Provider
                                                            <% } else if(rolefilter === 'HSS') { %>
                                                                Home Service Seeker
                                                            <% } else if(rolefilter === 'JS') { %>
                                                                Candidate
                                                            <% } else if(rolefilter === 'COMPANY') { %>
                                                                Company   
                                                            <% } else if(rolefilter === 'LH') { %>
                                                                Local Hunar
                                                            <% } else { %>
                                                                Select User role type
                                                            <% } %>
                                                        </option>
                                                        <option value="HSP">home service provider</option>
                                                        <option value="HSS">home service seeker</option>
                                                        <option value="LH">local hunar</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-lg btn-default">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-2">
                                    <!-- <a href="/admin/create-company" class="btn btn-sm btn-primary">Add Active Accounts Details</a> -->
                                </div>
                            </div>
                        </div>

                        <div>
                            <% if(message != 0) { %>
                                <div class="p-3">
                                    <div class="alert mb-0" style="background-color: rgb(188 252 188); border: none; color: rgb(2, 120, 28);" role="alert">
                                        <%= message %>
                                    </div>
                                </div>

                                <% } else if(error != 0){ %>
                                    <div class="p-3">
                                        <div class="alert mb-0" style="background-color: rgb(237 183 183); border: none; color: rgb(120 2 2);" role="alert">
                                            <%= error %>
                                        </div>
                                    </div>

                                    <% } %>
                        </div>

                        <% if(data.count != 0) { %>

                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>S no.</th>
                                            <th>Active Accounts Name</th>
                                            <th>User Role</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.rows.forEach((data, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= index + 1 + ((pageNo - 1) * limit) %>
                                                </td>
                                                <td>
                                                    <%= data.name %>
                                                </td>
                                                <td>
                                                    <% if(data.user_role_type === 'JS') { %>
                                                        Candidate
                                                        <% } else if(data.user_role_type === 'HSS') { %>
                                                            Home Service Seeker
                                                            <% } else if(data.user_role_type === 'HSP') { %>
                                                                Home Service Provider
                                                                <% } else if(data.user_role_type === 'LH') { %>
                                                                    Local Hunar
                                                                    <% } else if(data.user_role_type === 'COMPANY') { %>
                                                                        Company
                                                                        <% } %>
                                                </td>
                                                <td>
                                                    <% if(data.status === 0) { %>
                                                        Inactive
                                                        <% } else if(data.status === 1) { %>
                                                            Active
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <a href="/admin/account/view-user-details/<%= data.id %>" class="btn btn-sm btn-outline-primary">View details</a> &nbsp;
                                                    <a href="/admin/account/active/inactive/<%= data.id %>" class="btn btn-sm btn-outline-danger">Inactive Account</a> &nbsp;
                                                </td>
                                            </tr>


                                            <%} ) %>
                                    </tbody>
                                </table>
                            </div>
                            <% } %>


                                <div class="paginationWrapper" style="padding-right: 1rem;">
                                    <% if (extra.pages> 0) { %>
                                        <ul class="pagination d-flex justify-content-end">
                                            <% var i=(Number(extra.pageNo) > 5 ? Number(extra.pageNo) - 4 : 1) %>
                                                <% if (i !==1) { %>
                                                    <li class="page-item disabled">
                                                        <a class="page-link">...</a></li>
                                                    <% } %>
                                                        <% for (; i <=(Number(extra.pageNo) + 4) && i <=extra.pages; i++) { %>
                                                            <% if (i==extra.pageNo) { %>
                                                                <li class="page-item active">
                                                                    <a class="page-link">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="/admin/account/active/?page=<%= i %>&search=<%= searchVal %>&user_role_type=<%= rolefilter %>">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (i==Number(extra.pageNo) + 4 && i < extra.pages) { %>
                                                                            <li class="page-item disabled">
                                                                                <a class="page-link">...</a></li>
                                                                            <% } %>
                                                                                <% } %>
                                        </ul>
                                        <% } %>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>