<%- include('../header') -%>

        <tr>
            <td>
                <table style='border: 0; border-spacing: 0; border-collapse: separate; -mso-table-lspace: 0pt; -mso-table-rspace: 0pt; width: 100%; padding: 0 20px;'>
                    <tr>
                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>
                            <h3 style='font-family: sans-serif; font-size: 14px; font-weight: bold; Margin-bottom: 8px; margin-top: 20px; color: #5A443D;'>Hi <%= username %>,</h3>
                            <tr>
                                <td style='padding: 0; margin: 0; line-height: 1.6em; float: left; color: black; padding-left: 0;padding-bottom:10px; font-size: 15px; font-weight: 400;'>
                                    | Here's an interesting job that we think might be relevant for you -
                                </td>
                                <tr>
                                    <td style="text-align: left; vertical-align: top; width: 100%; padding: 5px;">
                                        <table style='border: 0; border-spacing: 0; padding: 0; text-align: center'>
                                            <tr>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #4b4b4b; padding-left: 0; font-size: 15px; font-weight: 400;'>b company name</td>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #666; padding-left: 0; font-size: 15px; font-weight: 400;'><%= companyName %></td>
                                            </tr>

                                            <tr>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #4b4b4b; padding-left: 0; font-size: 15px; font-weight: 400;'>b job title</td>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #666; padding-left: 0; font-size: 15px; font-weight: 400;'><%= jobTitle %></td>
                                            </tr>

                                            <tr>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #4b4b4b; padding-left: 0; font-size: 15px; font-weight: 400;'>b job Description</td>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #666; padding-left: 0; font-size: 15px; font-weight: 400;'><%= jobDescription %></td>
                                            </tr>

                                            <tr>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #4b4b4b; padding-left: 0; font-size: 15px; font-weight: 400;'>b salary</td>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #666; padding-left: 0; font-size: 15px; font-weight: 400;'><%= salary %></td>
                                            </tr>

                                            <tr>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #4b4b4b; padding-left: 0; font-size: 15px; font-weight: 400;'>b Location</td>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #666; padding-left: 0; font-size: 15px; font-weight: 400;'><%= city %>, <%= state %></td>
                                            </tr>

                                            <tr>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #4b4b4b; padding-left: 0; font-size: 15px; font-weight: 400;'>b Company Link</td>
                                                <td style='padding: 10px; margin: 0; line-height: 1.6em; float: left; color: #666; padding-left: 0; font-size: 15px; font-weight: 400;'> Click here
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tr>       
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
                    
<%- include('../footer') -%>
