<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Service Provider create</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/admin/service-provider">Service Provider list</a>
                        </li>
                        <li class="breadcrumb-item active">Service Provider create</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Service Provider</h3>
                </div>

                <div>
                    <% if(message != '') { %>
                        <div class="p-3">
                            <div class="alert mb-0" style="
                background-color: rgb(141, 228, 141);
                border: none;
                color: rgb(2, 120, 28);
              " role="alert">
                                <%= message %>
                            </div>
                        </div>

                        <% } else if(error != ''){ %>
                            <div class="p-3">
                                <div class="alert alert-dismissible mb-0" style="
                background-color: rgb(237 183 183);
                border: none;
                color: rgb(120 2 2);
              " role="alert">
                                    <%= error %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                                </div>
                            </div>
                            <% } %>
                </div>

                <form method="post" action="/admin/create-service-provider" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name" value="<%= formValue && formValue.name ? formValue.name :'' %>" placeholder="name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Mobile Number</label>
                                    <input type="number" class="form-control mobileNumberField" name="mobile" value="<%= formValue && formValue.mobile ? formValue.mobile :'' %>" placeholder="Mobile no." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" class="form-control" name="email" value="<%= formValue && formValue.email ? formValue.email :'' %>" placeholder="E-mail" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Date of birth (DD/MM/YYYY)</label>
                                    <input type="date" class="form-control" name="dob" value="<%= formValue && formValue.dob ? formValue.dob :'' %>" placeholder="Date of birth" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Pin code</label>
                                    <input type="text" class="form-control pincodeNumberField" id="pincode-text-field" name="pin_code" value="<%= formValue && formValue.pin_code ? formValue.pin_code :'' %>" placeholder="Pin Code no." />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">State</label>
                                    <select class="form-control select2bs4" style="width: 100%" id="state-dropdown" name="state_id">
                    <option>Select State</option>
                    <% statedata.forEach((state) => { %>
                    <option value="<%= state.id %>"><%= state.name %></option>
                    <% }) %>
                  </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">City</label>
                                    <select class="form-control select2bs4" style="width: 100%" id="city-dropdown" name="city_id">
                    <option value="">Select City</option>
                  </select>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>image</label> <br />
                                    <input type="file" name="image" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control" style="width: 100%" name="gender">
                    <option value="">
                      <%= formValue && formValue.gender ? formValue.gender
                      :'Select Gender' %>
                    </option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="transgender">Trans-Gender</option>
                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Referrer Code</label>
                                    <input type="text" class="form-control" name="referrer_code" value="<%= formValue && formValue.referrer_code ? formValue.referrer_code :'' %>" placeholder="Refer code" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>status</label>
                                    <select class="form-control select2bs4" style="width: 100%" id="state-dropdown" name="status">
                    <option value="">Select status</option>
                    <option value="1" selected>Active</option>
                    <option value="0">Inactive</option>
                  </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>